# SPDX-License-Identifier: GPL-2.0
#
# Phy drivers for Rockchip platforms
#

config PHY_ROCKCHIP_INNO_USB3
	tristate "Rockchip INNO USB 3.0 PHY Driver"
	depends on ARCH_ROCKCHIP && OF
	select GENERIC_PHY
	select USB_PHY
	help
	  Support for Rockchip USB 3.0 PHY with Innosilicon IP block.

config PHY_ROCKCHIP_INNO_MIPI_DPHY
	tristate "Rockchip INNO MIPI D-PHY Driver"
	depends on ARCH_ROCKCHIP && OF
	select GENERIC_PHY
	help
	  Enable this to support the Rockchip MIPI D-PHY with Innosilicon IP block.

config PHY_ROCKCHIP_INNO_HDMI_PHY
	tristate "Rockchip INNO HDMI PHY Driver"
	depends on ARCH_ROCKCHIP && OF
	select GENERIC_PHY
	help
	  Enable this to support the Rockchip HDMI PHY with Innosilicon IP block.
